<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>e起去旅行</title>

    <link rel="stylesheet" href="/static/base/css/login.css" type="text/css">
</head>

<body>
    <!-- 导航栏开始 -->
    <div id="toolbar">
        <a href="/" class="router-link-exact-active router-link-active">
            <img src=/static/base/images/logo.png class="icon">
            <h1>e起去旅行</h1>
        </a>
        <ul class="links">
            <li>
                <a href="/login/" class="">登录</a>
            </li>
            <li>
                <a href="/register/" class="">注册</a>
            </li>
        </ul>
    </div>
    <!-- 导航栏结束 -->
    <!--内容-->
    <div class="container">
        <div id="login" class="login-container">
            <form role="form" method="POST" th:action="@{/login}">
                <div class="form-control">
                    <input type="text" name="username" id="username" placeholder="请输入邮箱！">
                </div>
                <div style="display: none" class="form-control">
                    <ul class="errors">
                        <li>邮箱不能为空！</li>
                    </ul>
                </div>
                <div class="form-control">
                    <input type="password" name="password" id="password" placeholder="请输入密码！">
                </div>
                <div style="display: none" class="form-control">
                    <ul class="errors">
                        <li>密码不能为空！</li>
                    </ul>
                </div>
                <div class="form-control">
                    <ul th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" class="errors">
                        <li th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></li>
                    </ul>
                </div>
                <div class="form-control">
                    <input type="submit" id="submit" class="btn btn-primary" value="登录" />
                </div>
            </form>
            <div>
                <p class="change-form">还没有账号?去 <a href="\register\" class="">注册</a></p>
            </div>
        </div>
    </div>
    <!--内容-->
</body>

</html>